.darkBG {
	background: #999;
}

.darkerBG {
	background: #666;
}

.darkestBG {
	background: #333;
}

.content {
	margin-left: auto;
	margin-right: auto;
}

.jumbotron {
	background-image: url(https://upload.wikimedia.org/wikipedia/commons/2/2b/Chicago_Skyline_from_Lake_Michigan.jpg);
	background-size: cover;
}