.darkBG {
	background: #999;
}

.darkerBG {
	background: #666;
}

.darkestBG {
	background: #333;
}

.jumbotron {
	background-image: url(https://upload.wikimedia.org/wikipedia/commons/2/2b/Chicago_Skyline_from_Lake_Michigan.jpg);
	height: 500px;
	no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.jumbotron .container {
	position: relative;
	top: 100px;

}

.jumbotron h1 {
	color: #fff; font-family: 'Droid Serif', serif;
}

.jumbotron p {
	color: #fff; font-family: 'Droid Sans', sans-serif;
}

