

.jumbotron {
	background-image: url(https://1.bp.blogspot.com/-4bYk3je0xnU/UnP8C-A_SII/AAAAAAAA7s4/2o7KihwyQVs/s1600/PHOTO+-+CHICAGO+-+SKYLINE+AND+LAKE+FRONT+-+AERIAL+-+LOOKING+S+-+FROM+NEAR+LINCOLN+PARK++-+TRUMP+TOWER+UNDER+CONSTRUCTION+-+FAIRLY+CONTEMPORARY.jpg);
	height: 600px;
	no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-bottom: 0pt;
}

.jumbotron .container {
	position: relative;
	top: 0px;
	margin-bottom: 0pt;

}

.jumbotron h1 {
	color: black; 
	font-family: 'Pacifico', cursive;

}

.jumbotron p {
	color: black; 
	font-family: 'Kaushan Script', cursive;
	font-size: 20pt;
	font-weight: bold;
}

.navbar-brand {
	font-size: 36px;
}

.navbar-brand {
	margin-top: 10px;
	color: #9966FF;
}

/* Brett von Halle*/
.navbar-inverse .navbar-brand {
	color: black;
	font-family: 'Lobster', cursive;
}

.navbar-inverse {
	background-color: #CCFFFF;
	opacity: 1;
	border: none;
}


.navbar-inverse .container a {
	font-family: 'Lobster', cursive;
}

.navbar-toggle {
	background-color: black
}

.socialnetworklink li:first-child {
	list-style-type: none;
	padding-left: 20px;
	display: inline;
}

.socialnetworklink li:nth-child(2) {
	list-style-type: none;
	padding-left: 20px;
	display: inline;
}

.socialnetworklink li:nth-child(3) {
	list-style-type: none;
	padding-left: 20px;
	display: inline;
}

.socialnetworklink li:nth-child(4) {
	list-style-type: none;
	padding-left: 20px;
	display: inline;
}

.socialnetworklink p {
	list-style-type: none;
	padding-left: 20px;
	display: inline;
}

.navbar-nav {
	margin-top: 7pt;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
	color: white;
	background-color: black
}

.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
	color: black;
}

.navbar-inverse .navbar-nav > li > a {
	color: black;
}

.illusions {
	float: left;
}

.whosdog {
	float: left;
}

.humangiant {
	float: left;
}

.pasta {
	float: left;
}

.backgroundfun {
	background-color: #0cd957;
	overflow: hidden;
}

.intro h1 {
	font-family: 'Pacifico', cursive;
	text-align: center;
	color: black;
}

.bottombox1 {
	padding-top: 10px;
	background-color: #CCFFFF;
	overflow: hidden;
}

.bottombox {
	padding-top: 10px;
	background-color: #CCFFFF;
	overflow: hidden;
}

.blog1 {
	font-family: "Kaushan Script";
	padding-left: 60px;
	padding-top: 10px;
	color: black;
}

.header-email-marketing {
    text-align: center;
    color: white;

}

.header_email {
    text-align: center;

}

.email_header {
    text-align: center;
    color: whitesmoke;
    padding-top: 40px;
    font-size: 42px;
    font-family: 'Fjalla One', sans-serif;
}

#email {
    background: #2B2B2B;

}

.email_strategy { 
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    

}

.email_list {
    color: ghostwhite;
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
}

li {
    list-style-type: none;
}

.padding_4p { 
    padding: 4%;
}

.email-icons {
    max-width: 150px;
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
}
