.darkBG {
	background: #999;
}

.darkerBG {
	background: #666;
}

.darkestBG {
	background: #333;
}

.jumbotron {
	background-image: url(https://upload.wikimedia.org/wikipedia/commons/2/2b/Chicago_Skyline_from_Lake_Michigan.jpg);
	height: 500px;
	no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.jumbotron .container {
	position: relative;
	top: 50px;

}

.jumbotron h1 {
	color: #fff; 
	font-family: 'Pacifico', cursive;
}

.jumbotron p {
	color: #fff; 
	font-family: 'Kaushan Script', cursive;
}

.navbar-brand {
	font-size: 36px;
}

.transbox {
    width: 400px;
    height: 180px;
    margin: 30px 50px;
    background-color: #ffffff;
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}

.navbar-brand {
	margin-top: 10px;
	color: #9966FF;
}

/* Brett von Halle*/
.navbar-inverse .navbar-brand {
	color: black;
	font-family: 'Lobster', cursive;
}

.navbar-inverse {
	background-color: #CCFFFF;
	opacity: 1;
	border: none;
}


.navbar-inverse .container a {
	font-family: 'Lobster', cursive;
}
















