

.jumbotron {
	background-image: url(https://1.bp.blogspot.com/-4bYk3je0xnU/UnP8C-A_SII/AAAAAAAA7s4/2o7KihwyQVs/s1600/PHOTO+-+CHICAGO+-+SKYLINE+AND+LAKE+FRONT+-+AERIAL+-+LOOKING+S+-+FROM+NEAR+LINCOLN+PARK++-+TRUMP+TOWER+UNDER+CONSTRUCTION+-+FAIRLY+CONTEMPORARY.jpg);
	height: 600px;
	no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-bottom: 0pt;
}

.jumbotron .container {
	position: relative;
	top: 0px;
	margin-bottom: 0pt;

}

.jumbotron h1 {
	color: black; 
	font-family: 'Pacifico', cursive;

}

.jumbotron p {
	color: black; 
	font-family: 'Kaushan Script', cursive;
	font-size: 20pt;
	font-weight: bold;
}

.navbar-brand {
	font-size: 36px;
}

.transbox {
    width: 400px;
    height: 180px;
    margin: 30px 50px;
    background-color: #ffffff;
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}

.navbar-brand {
	margin-top: 10px;
	color: #9966FF;
}

/* Brett von Halle*/
.navbar-inverse .navbar-brand {
	color: black;
	font-family: 'Lobster', cursive;
}

.navbar-inverse {
	background-color: #CCFFFF;
	opacity: 1;
	border: none;
}


.navbar-inverse .container a {
	font-family: 'Lobster', cursive;
}

.bottombox {
	background-color: #CCFFFF;
}

.navbar-toggle {
	background-color: black
}

.socialnetworklink li:first-child {
	list-style-type: none;
	padding-left: 20px;
	float: left;
}

.socialnetworklink li:nth-child(2) {
	list-style-type: none;
	padding-left: 20px;
	float: left;
}

.socialnetworklink li:nth-child(3) {
	list-style-type: none;
	padding-left: 20px;
	float: left;
	margin-bottom: 10px;
}

.socialnetworklink li:nth-child(4) {
	list-style-type: none;
	padding-left: 20px;
	float: left;
}

.navbar-nav {
	margin-top: 7pt;
}

.copyright {
	color: black;
	margin-top: 10px;
	float: right;
	padding-right: 50px
}

.navbar-inverse .navbar-text {
}

.navbar-inverse .navbar-nav > li > a {

}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
	color: white;
}

.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
	color: black;
}

.navbar-inverse .navbar-nav > li > a {
	color: black;
}



