.illusions {
	position: fixed;
	top: 50%;
	left: 50%;
}

.whosdog {
	margin: auto;
	align='middle';
}

.humangiant {
	align='middle';
}

.pasta {
	position: ;
}

.intro h1 {
	font-family: 'Fjalla One', cursive;
}
